<div *ngIf="items.length !== 0" class="panel panel-default" >
    <div class="panel-heading" >
        {{labels.tableHeader}}
    </div>
    <div class="panel-body">

        <div class="row">

            <div class="col-sm-6 form-inline">
                <page-size [pageSize]="pageSize" [labels]="labels.pageSize" (selectedPageSize)="setPageSize($event)" ></page-size>
            </div>

            <div class="col-sm-6">

            </div>

        </div>

        <div class="row">
            <div class="col-sm-12" >
                <items-table [pageNumber]="pageNumber" [pageSize]="pageSize" [items]="items" [columns]="columns" ></items-table>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2" >
                <results-info [pageNumber]="pageNumber" [pageSize]="pageSize" [resultsNumber]="items.length" [labels]="labels.resultsInfo" ></results-info>
            </div>
            <div class="col-sm-10 pagination-col" >
                <pagination [pageSize]="pageSize" [pageNumber]="pageNumber" [resultsNumber]="items.length" [labels]="labels.pagination"
                (selectedPageNumber)="setPageNumber($event)" ></pagination>
            </div>
        </div>

    </div>
</div>
