<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Photos</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">

        <data-table [items]="photos" >
            <dt-column [value]="'id'" [label]="'Id'" ></dt-column>
            <dt-column [value]="'title'" [label]="'Title'" ></dt-column>
            <dt-column [value]="'imageSrc'" [label]="'Image'" ></dt-column>
            <dt-column [value]="'description'" [label]="'Description'" ></dt-column>
        </data-table>

    </div>
</div>
