<table class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline">
    <tr *ngIf="columns.length !== 0" >
        <th *ngIf="showIndex" >
            {{labels?.index}}
        </th>
        <th *ngFor="let column of columns">
            {{column?.label}}
        </th>
    </tr>

    <tr *ngFor="let item of items | paginate: { itemsPerPage: pageSize, currentPage: pageNumber }; let index = index" >
        <td *ngIf="showIndex" >
            {{countIndex(index)}}
        </td>
        <td *ngFor="let column of columns"  >
            <div *customTemplate="{template: column?.template, data: item, dataIndex: index}" >
                {{item[column.fieldName]}}
            </div>
        </td>
    </tr>
</table>
