<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Galleries</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">

        <data-table [items]="galleries" [showIndex]="true" [labels]="labels?.datatables"
                    [pageSize]="10" [pageSizeArray]="[5,10,20]" [pageNumber]="'1'" >
            <dt-controls [action]="goAction"></dt-controls>

            <dt-column value="id" label="Id" >
            </dt-column>
            <dt-column [value]="'name'" ></dt-column>
            <dt-column [value]="'visible'" [label]="'Visible'" >
                <template let-value="value" >
                    <div (click)="addGallery()" >
                        {{value}}
                    </div>
                </template>
            </dt-column>
            <dt-column [value]="'description'" [label]="'Description'" ></dt-column>
        </data-table>

    </div>
</div>
