<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{"gallery.header" | translate}}</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">

        <button (click)="addGallery()" type="button" >Button</button>

        <data-table #datatable [items]="galleries" [showIndex]="true" [labels]="labels?.datatables"
                    [pageSize]="10" [pageSizeArray]="[5,10,20]" [pageNumber]="'1'" >

            <dt-column label="Actions" >
                <template let-data="data" let-dataIndex="dataIndex" >
                    <button (click)="openEditModal(dataIndex)" class="btn btn-primary" type="button">
                        <i class="fa fa-pencil-square-o"></i>
                    </button>
                    <button (click)="openDeleteModal(dataIndex)" class="btn btn-primary" type="button">
                        <i class="fa fa-times"></i>
                    </button>
                </template>
            </dt-column>

            <dt-column [value]="'name'" [label]="labels?.datatables?.table?.name" ></dt-column>
            <dt-column [value]="'visible'" [label]="'Visible'" >
            </dt-column>

            <dt-column [value]="'description'" [label]="'Description'" >
                <!--
                <template let-data="data">
                    {{data.description}} $
                    {{dt.currentRow.class='red'}}
                    <a (click) = 'select()';
                </template>
                -->
            </dt-column>

            <dt-controls [action]="addGallery">
                <template>
                    <button (click)="addGallery()" class="btn btn-primary btn-circle" type="button">
                        <i class="fa fa-plus"></i>
                    </button>
                </template>
            </dt-controls>

        </data-table>

    </div>
</div>



<edit-gallery #editModal (onOpen)="onEditModalOpen()" (onClose)="onEditModalClose()" >
</edit-gallery>

<delete-gallery #deleteModal (onOpen)="onDeleteModalOpen()" (onClose)="onDeleteModalClose($event, index)" >
</delete-gallery>
